/* Overall */
html {
    scroll-behavior: smooth;
}
body {
    background-color: #ececec; 
    font-family: 'Work Sans', sans-serif;
}
/* Buttons */
.btn-primary {
    background-color:red;
    border-color: red;
    border-radius: 50px;
    padding: 10px 20px;
}
.btn-primary:hover {
    background-color: white;
    color: red;
    border-color: white;
}
.btn-outline-primary {
    border-color: red;
    color: red;
    border-width: 2px;
    border-radius: 50px;
    padding: 10px 20px;
}
.btn-outline-primary:hover {
    background-color: white;
    color: red;
    border-color: white;
}
/* Links */
a {
    color: red;
}
a:hover {
    color: black;
    text-decoration: none;
}
/* Navigatie */
.navbar {
    background-color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: red;
}
.navbar-light .navbar-brand {
    color: red;
}